
.navbar { 
    background-color: #8c1c5b!important;
  }
  
.navbar-light.bg-light .nav-link {
    color: white;
  }
  
  .btn-primary { 
    background-color: purple;
  }
  
  .logo {
    background-image: url(./logo-main.png);
    width: 7rem;
  }
  